body {
    font-family: "Lato", "Noto Sans", sans-serif;
    background-color: #ccc;
}

ul, ol {
    list-style: none;
    text-align: left;
}

li {
    margin: 0.25em;
}

body {
    max-width: max(65%, 600px);
    margin: auto;
}

#info {
    max-height: 25em;
}

#info h1 {
    text-align: center;
}

#portrait {
    border-radius: 1em;
    max-width: 100%;
    object-fit: contain;
    max-height: 350px;
    margin: auto;
    display: block;
}

@media (width >= 480px) {
    #portrait {
        max-width: 30%;
        float: right;
    }
}


#name {
    display: block;
    font-size: 2em;
}

#contact-list {
    margin-left: 2em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding-inline-start: 20px;
}

#links {
    display: flex;
}

#links a {
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
}

.icon {
    height: 1em;
}

.icon:hover {
    color: blue;
}

table {
    border-spacing: 0 0.5em;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}
