body {
    font-family: "Lato", "Noto Sans", sans-serif;
    background-color: #ccc;
    max-width: max(60%, 600px);
    margin: auto;
    font-size: 1.2rem;
    line-height: 1.5;
}

body > section,
body > header {
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 3em;
}

ul, ol {
    list-style-position: inside;
    padding: 0;
}

li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

header {
    margin-top: 5em;
}

#info {
    max-height: 25em;
}

#info h1 {
    text-align: center;
}

#portrait {
    border-radius: 1em;
    max-width: 100%;
    object-fit: contain;
    max-height: 350px;
    margin: auto;
    display: block;
    margin-left: 1em;
}

@media (width >= 480px) {
    #portrait {
        max-width: 30%;
        float: right;
    }
}


#links {
    display: flex;
}

#resume {
    margin-left: 0 !important;
}

#links a {
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
}

.icon {
    height: 1em;
}

.icon:hover {
    color: blue;
}

table {
    border-spacing: 0 0.5em;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}
